body{
  margin:0;
  padding:0;
  background:#eef3f3;
  font-family:Arial;
}

.container{
  width:900px;
  margin:40px auto;
  background:white;
  padding:35px;
  border-radius:20px;
}

.logo{
  text-align:center;
  font-size:42px;
  margin-bottom:25px;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

input,
textarea{
  width:100%;
  padding:18px;
  border-radius:15px;
  border:1px solid #ccc;
  font-size:22px;
  box-sizing:border-box;
}

textarea{
  height:140px;
  resize:none;
}

.buttons{
  display:flex;
  gap:20px;
  margin-top:25px;
}

.send-btn{
  flex:1;
  background:#2f6df6;
  color:white;
  border:none;
  border-radius:15px;
  padding:22px;
  font-size:30px;
  cursor:pointer;
}

.send-btn:disabled{
  opacity:.7;
  cursor:not-allowed;
}

.logout-btn{
  width:180px;
  background:#2f6df6;
  color:white;
  border:none;
  border-radius:15px;
  font-size:26px;
  cursor:pointer;
}

.logout-text{
  text-align:center;
  margin-top:10px;
  color:#777;
}

.stats{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
  margin-top:40px;
}

.box{
  background:#f6f6f6;
  padding:30px;
  border-radius:15px;
  text-align:center;
}

.box h2{
  margin-bottom:20px;
}

.box span{
  font-size:46px;
  font-weight:bold;
}

.green{
  color:green;
}

.red{
  color:red;
}
