body{
  margin:0;
  font-family:Arial;
  background:#eef3f3;
}

.container{
  width:900px;
  margin:50px auto;
  background:#fff;
  padding:35px;
  border-radius:20px;
}

.logo{
  text-align:center;
  font-size:40px;
  margin-bottom:20px;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

input,
textarea{
  width:100%;
  padding:18px;
  border:1px solid #ccc;
  border-radius:15px;
  font-size:20px;
  box-sizing:border-box;
}

textarea{
  height:140px;
  resize:none;
}

.buttons{
  display:flex;
  gap:20px;
  margin-top:20px;
}

.send-btn{
  flex:1;
  background:#2f6df6;
  color:white;
  border:none;
  padding:20px;
  border-radius:15px;
  font-size:30px;
  cursor:pointer;
}

.logout-btn{
  width:180px;
  background:#2f6df6;
  color:white;
  border:none;
  border-radius:15px;
  font-size:26px;
  cursor:pointer;
}

.logout-text{
  text-align:center;
  margin-top:10px;
  color:#777;
}

.stats{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
  margin-top:40px;
}

.box{
  background:#f7f7f7;
  padding:30px;
  border-radius:15px;
  text-align:center;
}

.box h2{
  margin:0 0 20px;
}

.box span{
  font-size:45px;
  font-weight:bold;
}

.green{
  color:green;
}

.red{
  color:red;
}
